/* dashboard */
body.dash.int {
  background: #fff;
}
.fa-2x {
font-size: 2em;
}
.breadcrumb-item.active {
  color: rgb(43, 202, 115);
  font-weight: bold;
}
.fa {
position: relative;
display: table-cell;
width: 60px;
height: 65px;
text-align: center;
vertical-align: middle;
font-size:20px;
color: #fff;
}
.bold{
  font-weight: bold;
}
.w90 {
  max-width: 15%
}
.spacer {
  height: 20px
}
/* color-text */
.text-blue {
  color: #0C3783;
  border-bottom: 1px solid  #0C3783!important;
}
.color-blue {
  color: #0C3783;
}
.text-blue2 {
  color: #0645F9;
  border-bottom: 1px solid  #0645F9!important;
}
.color-blue2 {
  color: #0645F9;
}
.text-orange {
  color: #F24405;
  border-bottom: 1px solid  #F24405!important;
}
.color-orange {
  color: #F24405;
}
.text-green {
  color: #18C2B8;
  border-bottom: 1px solid  #18C2B8!important;
}
.color-green {
  color: #18C2B8;
}
.text-green2 {
  color: #4A9D1E;
  border-bottom: 1px solid  #4A9D1E!important;
}

.color-green2 {
  color: #4A9D1E;
}
.text-gray {
  color: #999999;
  text-decoration: underline;
}
.text-pink {
  color: #EB008B;
  border-bottom: #EB008B!important;
}
.color-pink {
  color: #EB008B;
}
.center-text {
  text-align: center;
}
.clean  {
    float: right;
    padding-bottom: 1rem;
    right: 5rem;
    position: relative;
    color: #3af1a7;
    font-weight: bold;
}
/* icons */
.icon-action {
    display: flex;
    align-items: center;
    justify-content: center;
}
.icon-action a {
    display: flex;
    background-repeat: no-repeat;
    background-position: 0 0;
    text-indent: -9999em;
    margin: 0 1.3rem 0 auto;
    width: 40px;
    background-size: 40px;
    height: 40px;
}
.icon_chat{
  background-image: url('../images/icon_chat.svg');
}
.icon_chat:hover{
  background-image: url('../images/icon_chat_h.svg');
}
.icon_mail{
  background-image: url('../images/icon_mail.svg');
}
.icon_mail:hover{
  background-image: url('../images/icon_mail_h.svg');
}
.icon_usr{
  background-image: url('../images/icon_usr.svg');
}
.icon_usr:hover{
  background-image: url('../images/icon_usr_h.svg');
}
.icon_fav{
  background-image: url('../images/icon_fav.svg');
}
.icon_fav:hover{
  background-image: url('../images/icon_fav_h.svg');
}
/* selects */
.dash .select_mate {
    position: relative;
    float: left;
    min-width: 100%;
    width: 100%;
    min-height: 30px;
    color: #000;
    background-color: transparent;
    transition: all 375ms ease-in-out;
    text-transform: uppercase;
    font-size: 1.3rem;
    border: 1px solid #000;border-radius: 7px;
}
.dash .cont_select_center {
    position: relative;
    left: inherit;
    top: inherit;
    margin-top: 2rem;
    margin-left: 3.333333%;
    float: left;
}
.col-filter {
  margin-top: 2rem;
  float: left;
}
.dash .searchs input {
    border: 1px solid #000;
    border-radius: 9px;
    padding: 0.3rem 0px 0.3rem 33px;
    position: relative;
}
.dash .searchs input:hover {
  border: 1px solid #3af1a7;
}
.dash .searchs .fa-search {
    position: absolute;
    left: 4px;
    color: #000;
    background: transparent;
    top: 12px;
}
.dash .icon_select_mate svg {
    fill: #000;
}
.dash .selecionado_opcion {
    padding: 5px 2%;
    width: 96%;
    display: block;
    margin: 0px;
    cursor: pointer;
    font-size: 0.8rem;
    font-weight: bold;
}
.dash .icon_select_mate {
    top: 5px;
}
.dash .select_mate:hover {
  border: 1px solid #3af1a7
}
.dash .cont_select_int {
    position: absolute;
    left: 0px;
    top: -30px;
    z-index: 999;
    overflow: hidden;
    height: 0px;
    width: 100%;
    background-color: #ccc;
    padding: 0px;
    margin-bottom: 0px;
    margin-top: 0px;
    transition: all 375ms ease-in-out;
    max-height: inherit;
    overflow: auto;
    border-radius: 0.5rem;
}
.dash .cont_select_int li {
    position: relative;
    float: left;
    width: 100%;
    background-color: #f1f1f1;
    list-style-type: none;
    padding: 10px 2% 0;
    margin: 0;
    transition: all 275ms ease-in-out;
    display: block;
    cursor: pointer;
    color: #000;
    font-size: 0.9rem;
}
.dash .cont_select_int li:hover {
    background-color: #3af1a7;
}
.dash .collapse.show, .dash .collapse table {
    display: table;
    width: 100%
}
.dash .collapse .badge {
    color: #000;
    box-shadow: none;
    top: -5px;
    position: relative;
    background: transparent;
    cursor: pointer;
}
.dash #collapseFilter p{
  font-size: 0.8rem;
}
.dash #collapseFilter .head {
  margin-bottom: 2rem;
}
.dash .collapse, .dash .collapsing {
  width: 100%;
  padding-top: 2rem;
  padding-left: 2rem;
}
.btn-link.btn-filter {
    text-transform: uppercase;
    color: #fff;
    font-size: 0.9rem;
    font-weight: bold;
    display: flex;
    line-height: 1;
    padding: 0.2rem 0;
}
.btn.btn-link.btn-filter:hover, .btn-filter .fa:hover {
  color: #3af1a7!important;
}
.btn-filter .fa {
    position: relative;
    width: 1rem;
    height: auto;
    vertical-align: middle;
    font-size: 20px;
    color: #000;
    margin: 0 3px 0 0;
    display: flex;
    line-height: 10px;
}

.main-menu {
    background: #f1f1f1;
    border-right: 1px solid #f1f1f1;
    position: fixed;
    top: 0;
    bottom: 0;
    height: 100%;
    left: 0;
    width: 60px;
    overflow: hidden;
    -webkit-transition: width .15s linear;
    transition: width .15s linear;
    -webkit-transform: translateZ(0) scale(1,1);
    z-index: 1000;
    display: flex!important;
}
.main-menu .fa{
  background: #2bca73;
      color: #d1d3d4;
}
.main-menu .fa:hover {
  color: #fff;
}
.main-menu>ul {
    margin: 4rem 0 0;
    height: 100%;
}

.main-menu li {
position:relative;
display:block;
width:250px;
}

.main-menu li>a {
position:relative;
display:table;
border-collapse:collapse;
border-spacing:0;
color:#999;
 font-family: arial;
font-size: 14px;
text-decoration:none;
-webkit-transform:translateZ(0) scale(1,1);
-webkit-transition:all .1s linear;
transition:all .1s linear;

}

.main-menu .nav-icon {
position:relative;
display:table-cell;
width:60px;
height:36px;
text-align:center;
vertical-align:middle;
font-size:18px;
}

.main-menu .nav-text {
    position: relative;
    display: table-cell;
    vertical-align: middle;
    width: 190px;
    text-indent: 1rem;
    font-weight: bold;
    font-size: 1rem;
}

.main-menu>ul.logout {
position:absolute;
left:0;
bottom:0;
}
.main-menu .last {
    height: 100%;
    background: #2bca73;
    width: 60px;
}
/* main menu timetraffic */
.main-menu.timetraffic .fa{
  background: #221F1F;
      color: #59595C;
}
.main-menu.timetraffic .fa:hover{
      color: #fff;
}
.left-menu .active {
  color: #999999;
}
.logod.ttime {
    background: #221F1F;
}
.logod.ttime img {
  width: 40px;
}
/* actions */

.actions-profile {
  padding: 0;
  margin: 0;
  width: 100%;
}
.actions-profile .pics {
    display: flex;
    align-items: center;
    justify-content: center;
}
.actions-profile .pics li {
  position: relative;
  list-style: none;
  width: 88px;
  float: left;
}
.actions-profile .pics li span {
    position: absolute;
    left: 0;
    top: -0.5rem;
    width: 35px;
}
.actions-profile  .full-profile {
  padding: 0;
}
.dash .container-fluid.head-profile {
    background: #f1f1f1;
    display: flex;
    justify-items: center;
    align-content: center;
    vertical-align: middle;
    height: 30px;
    line-height: 1;
    padding: 0;
    margin: 0 0 0 15px;
    width: 100%;
}
.dash .container-fluid.head-profile p {
    font-weight: bold;
    top: 8px;
    position: relative;
}
.main-menu.timetraffic .last {
    background: #221F1F;
}
.profile-status {
    padding-top: 1.5rem;
    border-bottom: 1px solid #f1f1f1;
    padding-bottom: 1rem;
}
.profile-status:hover{
  background: #f1f1f1;
  cursor: pointer;
}
.profile-status .fa {
    color: #000;
    display: inline-flex;
    width: auto;
    height: auto;
}
.phones {
  padding: 0
}
.phones a:hover, .phones a .fa:hover{
  color: #3af1a7;
}
.phones  p{
    width: 100%;
    display: block;
}
.activity {
  padding-left: 0;
  padding-right: 30px;
}
.activity p {
  border-bottom: 1px solid #000;
  font-weight: bold;
}
.activity small {
  font-weight: normal;
}
.activity span {
  color: #000;
  text-align: right;
  float: right;
}
.no-touch .scrollable.hover {
overflow-y:hidden;
}

.no-touch .scrollable.hover:hover {
overflow-y:auto;
overflow:visible;
}

a:hover,a:focus {
text-decoration:none;
}

nav {
-webkit-user-select:none;
-moz-user-select:none;
-ms-user-select:none;
-o-user-select:none;
user-select:none;
}

nav ul,nav li {
outline:0;
margin:0;
padding:0;
}
.main-menu li:hover>a,nav.main-menu li.active>a,
.dropdown-menu>li>a:hover,
.dropdown-menu>li>a:focus,
.dropdown-menu>.active>a,
.dropdown-menu>.active>a:hover,
.dropdown-menu>.active>a:focus,
.no-touch .dashboard-page nav.dashboard-menu ul li:hover a,
.dashboard-page nav.dashboard-menu ul li.active a {
color:#2bca73;
background-color:transparent;
}
.dropdown-toggle::after {
  display: none;
}
.left-menu {
  background: #f1f1f1;
  width: 210px;
  position: fixed;
  left: 0;
  height: 100%;
  z-index: 99;
}
.left-menu ul {
    position: relative;
    top: 5rem;
    padding-left: 5rem;
    list-style: none;
}
.left-menu ul li {
  margin-bottom: 1rem;
}
.left-menu ul a {
  color: rgb(89, 89, 92);
  font-weight: bold;
}
.left-menu ul a:hover {
  color: rgb(43, 202, 115);
}
.dropdown-menu {
    position: absolute;
    top: 47px;
    left: 1.6rem;
    z-index: 1000;
    display: none;
    float: left;
    min-width: 10.3rem;
    padding: .5rem 0;
    margin: .125rem 0 0;
    font-size: 1rem;
    color: #212529;
    text-align: left;
    list-style: none;
    background-color: rgb(43,202,115);
    background-clip: padding-box;
    border: 0;
    border-radius: 0;
}

.navbar .dropdown-menu  a{
  color: #fff;
}
.dropdown .dropdown-menu .dropdown-item:hover, .dropdown .dropdown-menu .dropdown-item:active, .dropdown .dropdown-menu .dropdown-item:focus {
    color: #fff;
    background-color: #3af1a7;
}
.area {
float: left;
background: #e2e2e2;
width: 100%;
height: 100%;
}
.navbar {
    background-color: #f1f1f1;
    position: fixed;
    width: 100%;
    z-index: 999;
    height: 47px;
}
.navbar .navbar-brand {
  margin-left: 3rem;
  color: #59595c;
  font-weight: bold;
  font-size: 1rem;
  line-height: 2;
  display: inline-flex;
}
.navbar .navbar-brand:hover {
  color: #2bca73;
}
.navbar-dark .navbar-brand:focus, .navbar-dark .navbar-brand:hover{
    color: #2bca73;
}
.user{
    position: relative;
    display: flex;
    z-index: 10010;
    /* top: -7px;
    height: 47px; */
    max-width: 194px;
    padding-top: 0.1rem;
    padding-bottom: 0.6rem;
}
.dropdown.show:hover, .user:focus, .user:active, .user:hover {
    width: 179px;
    background: rgb(43, 202, 115);

}
.navbar .dropdown-menu a {
    padding: 10px 0 10px 20px;
}
.dropdown.show:hover a, .user:hover a, .user:focus a{
  color: #fff!important;
}
.logod {
    display: flex;
    margin: 0 auto;
    justify-content: center;
    position: fixed;
    width: 59px;
    left: 0;
    top: 0;
    z-index: 1001;
    background: #2bca73;
    overflow: hidden;
    height: 64px;
}
.dash .container-fluid {
  background-color: #fff;
}
.dash .fa-user-circle {
    color: #59595c;
    width: 30px;
    height: 25px;
    font-size: 2rem;
    display: flex;
    float: right;
    left: 1.2rem;
}
.dash .other-item span {
    text-indent: 5rem;
    position: absolute;
    height: 0.3rem;
    display: flex;
    flex-direction: column-reverse;
    line-height: 2.7
}
.navbar.navbar-dark .navbar-toggler {
    color: #000;
    position: absolute;
    right: 0;
    z-index: 99;
}
.dash .navbar.navbar-dark .navbar-nav .nav-item.text-green .nav-link {
    color: #2bca73;
    line-height: 1;
}
.dash ul.showroom {
  list-style: none;
}
.dash ul.showroom a {
  color: #59595c
}
.dash .navbar.navbar-dark .navbar-toggler-icon {
  background-image: none;

}
.dash .fa-bars{
    color: #000;
    height: 28px;
}
.plans .card {
    background: #f1f1f1;
    box-shadow: none;
    height: 511px;
}
.plans .animated {
    margin: 5rem auto;
    /* max-width: 22%; */
}
.plans .last .card {
    height: 300px;
    margin-top: 2rem;
}
.plans .last .btn.btn-green {
    box-shadow: none;
    color: #fff;
    background-color: #2bca73;
}
.plans .last .btn.btn-green:hover {
  background-color: #3af1a7;
}
.plans h3 {
    padding: 1.3rem 1.5rem;
    color: rgb(34,31,31);
    font-size: 1rem;
    text-align: center;
    background: #d1d2d3;
    height: 75px;
    vertical-align: middle;
    display: flex;
    justify-content: center;
    align-items: center;
    line-height: 23px;
}
.plans .fa-check-circle {
    color: #2bca73;
    font-size: 7rem;
    text-align: center;
    display: flex;
    margin: auto;
    justify-content: center;
    align-items: center;
}
.plans .card .card-body p {
    text-align: center;
    padding: 0 0.5rem;
    margin-top: 1rem;
    line-height: 34px;
    display: flex;
    vertical-align: middle;
}
.plans .card .card-body {
    position: relative;
    display: flex;
    margin: 1rem auto;
    vertical-align: middle;
    justify-content: center;
}

.plans .btn {
    display: flex;
    left: inherit;
    margin: auto;
    align-items: center;
    justify-content: center;
}
.card .card-text {
    font-size: 1.2rem;
    color: rgb(34,31,31);
    font-weight: 400;
    text-align: center;
    line-height: 30px;
    display: flex;
}
.testing {
    display: flex;
    justify-content: center;
    margin: auto;
    align-items: center;
    font-size: 0.9rem;
    font-weight: 400;
    top: -8px;
    font-weight: bold;
}
/* circular progress */
@-webkit-keyframes load {
  0% {
    stroke-dashoffset: 0;
  }
}
@keyframes load {
  0% {
    stroke-dashoffset: 0;
  }
}
.dash .progress {
  position: relative;
  display: inline-block;
  padding: 0;
  text-align: center;
  box-shadow: inherit;
  width: 100%;
  height: auto;
  overflow: hidden;
  margin-bottom: 1rem;
  background-color: transparent;
  border-radius: inherit;
}
.dash .progress > li {
    display: flex;
    position: relative;
    text-align: center;
    color: #93A2AC;
    font-weight: bold;
    margin: 0;
    align-items: center;
    justify-content: center;
}
.dash .progress > li:before {
  content: attr(data-name);
  position: absolute;
  width: 100%;
  bottom: -2rem;
  font-weight: 400;
}
.dash .progress > li:after {
  content: attr(data-percent);
  position: absolute;
  width: 100%;
  top: 1.3rem;
  left: 0;
  font-size: 3rem;
  text-align: center;
}
.dash .progress svg {
  width: 8rem;
  height: 7rem;
}
.container-dash {
    padding-right: 0;
    margin-right: 0;
    padding-left: 250px;
    margin-left: -30px;
    max-width: 100%;
    position: relative;
    top: 4rem;
}
.container-dash.team {
    padding-right: 0;
    margin-right: 0;
    padding-left: 180px;
    margin-left: 0;
    max-width: 100%;
    position: relative;
    top: 4rem;
}
.dash .progress svg:nth-child(2) {
  position: absolute;
  left: 0;
  top: 0;
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
}
.dash .progress svg:nth-child(2) path {
  fill: none;
  stroke-width: 38;
  stroke-dasharray: 629;
  stroke: #fff;
  opacity: .9;
  -webkit-animation: load 10s;
          animation: load 10s;
}
/* filters */
.filters {
    padding: 0;
}
/* responsive */
@media screen and (max-width: 767px) {
  body.dash.int {
      height: 100%;
  }
  .navbar .navbar-brand {
    margin-left: 0;
}

  .nav-item.text-green {
      float: left;
      text-align: right;
  }
  .dash .plans {
      margin: 0;
      padding: 0;
      width: 100%;
  }
  .dash .plans div {
    margin: 0 0 2rem;
    padding: 0;
}
  .plans .animated {
    margin: 1rem auto;
    max-width: 100%
}
.dash .select_mate {
    float: none;
    min-width: 50%;
    width: 70%;
    font-size: 1rem;
    margin: 0 auto 1rem;
}
.main-menu {
    top: inherit;
    bottom: 0;
    height: 50px;
    left: 0;
    width: 100%;
    overflow: inherit;
    display: inline-flex;
    transition: inherit;
}
.main-menu>ul {
    margin: 0 auto;
    height: 100%;
    width: 100%;
    background: #2bca73;
    display: flex;
    align-items: center;
    justify-content: center;
}
.main-menu li {
    position: relative;
    display: flex;
    width: 20%;
    float: left;
    margin: auto;
    vertical-align: middle;
    justify-content: center;
    align-items: center;
}
.main-menu.timetraffic>ul {

    background: #221F1F;
}
.main-menu.timetraffic .dashm {
  width: 30px;
}
.breadcrumb-item.active {
  display: none;
}
.left-menu {
    background: #f1f1f1;
    width: 100%;
    position: fixed;
    left: 0;
    height: 7rem;
    z-index: 99;
    bottom: 0;
}
.left-menu ul {
    position: relative;
    top: 1.2rem;
    width: 100%;
    padding-left: 1rem;
}
.left-menu ul li {
    margin-bottom: 1rem;
    display: flex;
    float: left;
    margin: auto;
    margin-right: 1rem;
}
.main-menu .fa {
    height: 48px;
}
.container-dash {
    width: 100%;
    margin: 0;
    padding: 0;
}
.container-dash .col-12{
    padding: 0;
    margin: 0;
}

.dropdown.show:hover, .user:focus, .user:active, .user:hover {
    width: 100%;
    background: transparent;
}
.user {
  max-width: 100%;
}
.navbar .dropdown-menu {
    left: 0;
    width: 100%;
    max-width: 100%;
}
.logod, .navbar-brand.dropdown-toggle span,
 .navbar-brand.dropdown-toggle::after,
 .show-room span, .card-text br{
  display: none;
}
.plans .card {
  height: auto;
}
.plans .card .card-body {
  display: block;
}
.plans .card .card-body p {
    margin-top: 0;
    display: block;
    width: 100%;
}
.btn.btn-trans.btn-b {
    display: block;
    width: 100%;
    bottom: 0;
}
.dash .plans .last.animated {
  margin-bottom: 9rem;
}
.plans .last .card {
    height: auto;
    margin-top: 0;
}
.dash .plans .try {
    padding: 0 40px;
    margin-bottom: 1rem;
    position: absolute;
    top: -1138px;
    height: auto;
}
.plans .try .col-md-6 {
  margin: 0 auto;
}
.dash .progress svg {
    width: 7rem;
    height: 7rem;
}
.dash .plans .slideInUp {
  margin-top: 15rem;
}
.navbar .dropdown-menu {
    left: -30px;
    width: 100%;
    max-width: 100%;
    min-width: 28rem;
}
}
/* iPhone 5 ----------- */
@media only screen and (min-device-width: 320px) and (max-device-height: 568px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 2){
{

}
}

@media only screen and (min-device-width: 320px) and (max-device-height: 568px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 2){
  .dash .plans .try {
      top: -1182px;
  }
}
/* iPhone 6 ----------- */
@media only screen and (min-device-width: 375px) and (max-device-height: 667px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 2){
{}
}

@media only screen and (min-device-width: 375px) and (max-device-height: 667px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 2){
  .dash .plans .try {
      top: -1182px;
  }
  /* iPhone 6+ ----------- */
  @media only screen and (min-device-width: 414px) and (max-device-height: 736px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 2){
  {}
  }

  @media only screen and (min-device-width: 414px) and (max-device-height: 736px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 2){
    .dash .container-dash .plans .try {
      top: -1101px;
  }
  }

/* FF */

@supports (-moz-appearance:none) and (display:contents)
{
    .dash .other-item span {
    text-indent: 4.7rem;
    position: absolute;
    height: 0.3rem;
    display: flex;
    flex-direction: column-reverse;
    line-height: 0.7;
  }
  .dash .fa-user-circle {

    height: 0;
    top: -11px;
}
  .navbar .navbar-brand {
    line-height: inherit;
  }
  .plans .last .card {
    height: 285px;
}
.plans .card .card-body.last {
  margin: 1rem auot;
}
}
