/* dashboard */
body.dash.int {
  background: #fff;
}
.fa-2x {
font-size: 2em;
}
.breadcrumb-item, .breadcrumb-item a {
  color: #999999;
}
.breadcrumb-item.active a{
  color: #18C2B8;
  font-weight: bold;
}
.no-padding {
  padding: 0!important;
}
.padding-left {
  padding-left: 15px!important;
}
.no-margin {
  margin: 0!important;
}
.no-paddingedge{
  padding-left: 0!important;
  padding-right: 0!important
}
.fa {
position: relative;
display: table-cell;
width: 60px;
height: 65px;
text-align: center;
vertical-align: middle;
font-size:20px;
color: #fff;
}
.bold {
    font-weight: bold;
    font-family: 'Akkurat bold', sans-serif;
}
.w90 {
  max-width: 15%
}
.spacer {
  height: 20px
}
.scrolling {
  height: 450px;
  overflow: hidden;
  padding: 2rem 0!important;
}
.scrolling ul {
    overflow-y: scroll;
    width: 98%;
    height: 100%;
}
/* color-text */
.text-blue {
  color: #0C3783;
  border-bottom: 1px solid  #0C3783!important;
}
.color-black {
  color: #000!important;
}
.color-blue {
  color: #0C3783;
}
.text-blue2 {
  color: #0645F9;
  border-bottom: 1px solid  #0645F9!important;
}
.color-blue2 {
  color: #0645F9;
}
.text-orange {
  color: #F24405;
  border-bottom: 1px solid  #F24405!important;
}
.color-orange {
  color: #F24405;
}
.text-green {
  color: #18C2B8;
  border-bottom: 1px solid  #18C2B8!important;
}
.color-green {
  color: #18C2B8;
}
.text-green2 {
  color: #4A9D1E;
  border-bottom: 1px solid  #4A9D1E!important;
}
.text-bold{
  font-family: 'Akkurat-bold'!important;
}
.color-green2 {
  color: #4A9D1E;
}
.color-green4 {
  color: #3af1a7!important;
}
.color-green3 {
  color: #2bca73!important;
}
.text-gray {
  color: #999999;
  text-decoration: underline;
}
.bg-gray {
  background: #f1f1f1;
}
.filter-gray {
  background: #f1f1f1!important;
}
.color-gray {
  color: #999999!important;
}
.text-pink {
  color: #EB008B;
  border-bottom: #EB008B!important;
}
.color-pink {
  color: #EB008B;
}
.center-text {
  text-align: center;
}
.clean  {
    float: right;
    padding-bottom: 1rem;
    right: 5rem;
    position: relative;
    color: #3af1a7;
    font-weight: bold;
}
/* icons */
.icon-action {
    display: flex;
    align-items: center;
    justify-content: center;
}
.icon-action a {
    display: flex;
    background-repeat: no-repeat;
    background-position: 0 0;
    text-indent: -9999em;
    margin: 0 1.3rem 0 auto;
    width: 40px;
    background-size: 40px;
    height: 40px;
}
.icon_chat{
  background-image: url('../images/icon_chat.svg');
}
.icon_chat:hover{
  background-image: url('../images/icon_chat_h.svg');
}
.icon_mail{
  background-image: url('../images/icon_mail.svg');
}
.icon_mail:hover{
  background-image: url('../images/icon_mail_h.svg');
}
.icon_usr{
  background-image: url('../images/icon_usr.svg');
}
.icon_usr:hover{
  background-image: url('../images/icon_usr_h.svg');
}
.icon_fav{
  background-image: url('../images/icon_fav.svg');
}
.icon_fav:hover{
  background-image: url('../images/icon_fav_h.svg');
}
/* selects */
.dash .select_mate {
    position: relative;
    float: left;
    min-width: 100%;
    width: 100%;
    min-height: 30px;
    color: #000;
    background-color: transparent;
    transition: all 375ms ease-in-out;
    text-transform: uppercase;
    font-size: 1.3rem;
    border: 1px solid #000;border-radius: 7px;
}
.dash .cont_select_center {
    position: relative;
    left: inherit;
    top: inherit;
    margin-top: 2rem;
    margin-left: 3.333333%;
    float: left;

}
.col-filter {
  margin-top: 1rem;
  float: left;
}
.mtop3{
  margin-top: 3rem;
}
.dash .products .searchs input, .dash .products .select_mate {
  border: 0;
}
.actions-profile-product {
    margin: auto;
    width: 100%;
    display: flex;
    justify-content: center;
    align-content: center;
    padding-left: 5rem;
}
.paginations {
    display: flex;
    margin: 2rem auto;
    width: 100%;
    align-content: center;
    justify-content: space-around;
    padding-top: 2rem;
}
.favorite {
    position: absolute;
    right: 0;
    bottom: 13rem;
}
table.table-products.table th,table.table-products.table td {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}
.actions-profile-product table.table-products.table .actions {
    position: relative;
    right: inherit;
    top: inherit;
}
.actions-profile-product table.table-products.table .actions .btn {
    font-size: 0.8rem;
    padding: 0.2rem;
    margin: 0px;
    border-radius: 0;
    border: 0;
    -webkit-transition: .2s ease-out;
    transition: .2s ease-out;
    text-transform: uppercase;
    white-space: normal !important;
    word-wrap: break-word;
    cursor: pointer;
    box-shadow: none;
}
.actions-profile-product table.table-products.table .dropdown-menu.show{
   position: absolute;
   transform: translate3d(0px, 25px, 0px);
   top: -152px!important;
   left: -45px!important;
   will-change: transform;
   background: #f1f1f1;
}
.actions-profile-product table.table-products.table .dropdown.show:hover {
    width: auto;
}
.actions-profile-product .table-products .stock{
  margin: 0 auto;
}
.actions-profile-product .favorite .fa{
  font-size: 1.5rem;
}
.actions-profile-product .card {
  box-shadow: none;
}
.actions-profile-product .card p{
  margin-bottom: 0;
}
.actions-profile-product .row ,.actions-profile-product .card-deck{
  width: 100%;
}
.actions-profile-product .card:hover {
  border: 1px solid #999;
}
.actions-profile-product .card .price {
  font-family: 'Akkurat-bold'
}
.actions-profile-product .card .card-body h5 {
  margin-bottom: 0.2rem;
}
.stock {
    display: flex;
    list-style: none;
    margin: 0.5rem auto;
    width: 100%;
    border-bottom: 1px solid #18c2b8;
    justify-content: space-between;
    align-content: center;
    padding: 0 0 0.5rem;
    align-items: center;
}
.actions-profile-product li, .stock li {
  margin-right: 1rem
}
.stock.preview li {
    margin-right: 1rem;
    margin-bottom: 0.6rem;
}
.callinc {
    text-align: right;
    padding-right: 3rem;

}
.callinc  a {
  color: #18c2b8;
  text-transform: capitalize;
  text-decoration: underline;
}
.items-actions .preview .mobile  {
    width: 1rem;
}
.actions-profile-product .number, .stock .number {
  color: #3af1a7;
  font-family: 'Akkurat-bold';
  font-size: 1.1rem;
}
.prodctname .items-actions .stock.preview:first-child {
    border-bottom: 12px solid #f1f1f1;
}
.actions-profile-product .fa, .stock .fa {
    color: #000;
    width: auto;
    height: auto;
    font-size: 0.7rem;
    display: inline-flex;
    top: -1px;
}
.actions-profile-product .actions {
    position: absolute;
    right: 3rem;
    top: 8rem;
}
.actions-profile-product .actions .fa,  .actions .fa{
  font-size: 1.2rem
}
.actions-profile-product .card .actions .btn, .actions .btn {
    background: transparent;
    box-shadow: none;
    padding: 0;
    margin: auto;
}
.actions-profile-product .card .actions .dropdown-menu, .actions .dropdown-menu {
    position: absolute;
    top: -10rem!important;
    left: -80px!important;
    background-color: #f1f1f1;
}
.items-actions .actions .dropdown-menu, .actions .dropdown-menu {
    position: absolute;
    top: 0rem!important;
    left: -30px!important;
    background-color: #f1f1f1;
}
.actions-profile-product .card .actions .dropdown .dropdown-menu .dropdown-item:hover, .actions .dropdown .dropdown-menu .dropdown-item:hover,
.actions-profile-product .card .actions .dropdown .dropdown-menu .dropdown-item:active, .actions .dropdown .dropdown-menu .dropdown-item:active,
.actions-profile-product .card .actions .dropdown .dropdown-menu .dropdown-item:focus, .actions .dropdown .dropdown-menu .dropdown-item:focus {
    color: #fff;
    background-color: #999;
}
.actions-profile-product .card .actions .dropdown.show:hover,.actions-profile-product .card .actions .user:focus,
 .actions-profile-product .card .actions .user:active, .user:hover {
   width: 100%;
 }
 .actions .dropdown.show:hover,.actions .user:focus,
   .actions .user:active, .actions .user:hover {
    width: 100%;
  }
.items-pag {
  list-style: none;
  display: flex;
}
.paginations .items-pag li{
margin-left: 1rem;
}
.paginations .items-pag a {
  color: #000;
  text-transform: uppercase;
}
.paginations .items-pag .fa.active{
  color: #18c2b8;
}
.paginations .items-pag .fa{
  color: #000;
  height: auto;
  width: auto;
}
.paginations .pagination .fa  {
    width: auto;
    height: auto;
    color: #000;
    top: -3px;
}
.production .usr-mkt p {
    left: 0;
    margin-bottom: 0.2rem;
    font-weight: normal;
    text-transform: capitalize;
    font-size: 0.9rem;
}
.profile-dash .production .jumbotron {
    padding: 1rem 0 0.2rem;
    margin: 0rem 0 0.1rem;
}
.production .usr-mkt p span {
    background:inherit;
    border-radius: inherit;
    width: inherit;
    height: inherit;
    display: initial;
    position: relative;
    top: inherit;
    right: inherit;
}
.paginations .pagination a {
  color: #000
}
.dash .searchs input {
    border: 1px solid #000;
    border-radius: 9px;
    padding: 0.3rem 0px 0.3rem 33px;
    position: relative;
}
.dash .searchs input:hover {
  border: 1px solid #3af1a7;
}
.dash .searchs .fa-search {
    position: absolute;
    left: 4px;
    color: #000;
    background: transparent;
    top: 12px;
}
.dash .icon_select_mate svg {
    fill: #000;
}
.dash .selecionado_opcion {
    padding: 5px 2%;
    width: 96%;
    display: block;
    margin: 0px;
    cursor: pointer;
    font-size: 0.8rem;
    font-weight: bold;
}
.dash .icon_select_mate {
    top: 5px;
}
.dash .select_mate:hover {
  border: 1px solid #3af1a7
}
.dash .cont_select_int {
    position: absolute;
    left: 0px;
    top: -30px;
    z-index: 999;
    overflow: hidden;
    height: 0px;
    width: 100%;
    background-color: #ccc;
    padding: 0px;
    margin-bottom: 0px;
    margin-top: 0px;
    transition: all 375ms ease-in-out;
    max-height: inherit;
    overflow: auto;
    border-radius: 0.5rem;
}
.dash .cont_select_int li {
    position: relative;
    float: left;
    width: 100%;
    background-color: #f1f1f1;
    list-style-type: none;
    padding: 10px 2% 0;
    margin: 0;
    transition: all 275ms ease-in-out;
    display: block;
    cursor: pointer;
    color: #000;
    font-size: 0.9rem;
}
.dash .cont_select_int li:hover {
    background-color: #3af1a7;
}
.dash .collapse.show, .dash .collapse table {
    display: table;
    width: 100%
}
.dash .collapse .badge {
    color: #000;
    box-shadow: none;
    top: -5px;
    position: relative;
    background: transparent;
    cursor: pointer;
}
.dash #collapseFilter p{
  font-size: 0.8rem;
}
.dash #collapseFilter .head {
  margin-bottom: 2rem;
  font-size: 14px;
}
.dash .collapse, .dash .collapsing {
  width: 100%;
  padding-top: 2rem;
  padding-left: 2rem;
}
.btn-link.btn-filter {
    text-transform: uppercase;
    color: #fff;
    font-size: 0.9rem;
    font-weight: bold;
    display: flex;
    line-height: 1;
    padding: 0.2rem 0;
    text-align: right;
}
.btn.btn-link.btn-filter:hover, .btn-filter .fa:hover {
  color: #3af1a7!important;
}
.btn-filter .fa {
    position: relative;
    width: 1rem;
    height: 2rem;
    vertical-align: middle;
    font-size: 20px;
    color: #000;
    margin: 0 3px 0 0;
    display: flex;
    top: 10px
}
.btn-filter .fa span {
  font-family: 'Akkurat', sans-serif;
  font-size: 0.8rem;
  margin-left: 5px;
  line-height: 18px;
}
.main-menu {
    background: #f1f1f1;
    border-right: 1px solid #f1f1f1;
    position: fixed;
    top: 0;
    bottom: 0;
    height: 100%;
    left: 0;
    width: 60px;
    overflow: hidden;
    -webkit-transition: width .15s linear;
    transition: width .15s linear;
    -webkit-transform: translateZ(0) scale(1,1);
    z-index: 1000;
    display: flex!important;
}
.main-menu .fa{
  background: #2bca73;
      color: #d1d3d4;
}
.main-menu .fa:hover {
  color: #fff;
}
.main-menu>ul {
    margin: 4rem 0 0;
    height: 100%;
}

.main-menu li {
position:relative;
display:block;
width:250px;
}

.main-menu li>a {
position:relative;
display:table;
border-collapse:collapse;
border-spacing:0;
color:#999;
 font-family: arial;
font-size: 14px;
text-decoration:none;
-webkit-transform:translateZ(0) scale(1,1);
-webkit-transition:all .1s linear;
transition:all .1s linear;

}

.main-menu .nav-icon {
position:relative;
display:table-cell;
width:60px;
height:36px;
text-align:center;
vertical-align:middle;
font-size:18px;
}

.main-menu .nav-text {
    position: relative;
    display: table-cell;
    vertical-align: middle;
    width: 190px;
    text-indent: 1rem;
    font-weight: bold;
    font-size: 1rem;
}

.main-menu>ul.logout {
position:absolute;
left:0;
bottom:0;
}
.main-menu .last {
    height: 100%;
    background: #2bca73;
    width: 60px;
}
/* main menu timetraffic */
.main-menu.timetraffic .fa{
  background: #221F1F;
      color: #59595C;
}
.main-menu.timetraffic .fa:hover{
      color: #fff;
}
.left-menu .active {
  color: #999999;
}
.logod.ttime {
    background: #221F1F;
}
.logod.ttime img {
  width: 40px;
}
/* actions */

.actions-profile {
  padding: 0;
  margin: 0;
  width: 100%;
}
.actions-profile .pics {
    display: flex;
    align-items: center;
    justify-content: center;
}
.actions-profile .pics li {
  position: relative;
  list-style: none;
  width: 88px;
  float: left;
}
.actions-profile .pics li span {
    position: absolute;
    left: 0;
    top: -0.5rem;
    width: 35px;
}
.actions-profile  .full-profile {
  padding: 0;
}
.dash .container-fluid.head-profile {
    background: #f1f1f1;
    display: flex;
    justify-items: center;
    align-content: center;
    vertical-align: middle;
    height: 30px;
    line-height: 1;
    padding: 0;
    margin: 0 0 0 15px;
    width: 100%;
}
.dash .container-fluid.head-profile p {
    font-weight: bold;
    top: 8px;
    position: relative;
}
.main-menu.timetraffic .last {
    background: #221F1F;
}
.form-check.categoryform {
  position: relative;
}

.checkboxFour input[type=checkbox] {
	display: none;
}
.checkboxFour span{
  width: 450px;
  display: flex;
  position: relative;
}
.checkboxFour input[type=checkbox]:checked + label {
	background: #26ca28;
}
.checkboxFour {
	position: relative;
}
.checkboxFour label {
	display: block;
	width: 15px;
	height: 15px;
	border-radius: 100%;
	-webkit-transition: all .5s ease;
	-moz-transition: all .5s ease;
	-o-transition: all .5s ease;
	-ms-transition: all .5s ease;
	transition: all .5s ease;
	cursor: pointer;
	position: relative;
	top: 0;
	left: 0;
	z-index: 12;
	background: transparent;
  margin-bottom: 1rem;
  text-indent: 20px;
  line-height: 18px;
  border: 1px solid #333;
}
.profile-status {
    padding-top: 1.5rem;
    border-bottom: 1px solid #f1f1f1;
    padding-bottom: 1rem;
    clear: both;
}
.profile-status p{
  margin-bottom: 0;
}
.profile-status:hover{
  background: #f1f1f1;
  cursor: pointer;
}
.profile-status .fa {
    color: #000;
    display: inline-flex;
    width: auto;
    height: auto;
}
.phones {
  padding: 0
}
.phones a:hover, .phones a .fa:hover{
  color: #3af1a7;
}
.phones p {
    width: 100%;
    display: block;
    margin-bottom: 3rem;
}
.phones p:last-child{
  margin-bottom: 0;
}
.activity {
  padding-left: 0;
  padding-right: 30px;
}
.activity p {
  border-bottom: 1px solid #000;
  font-weight: bold;
}
.activity small {
  font-weight: normal;
}
.activity span {
  color: #000;
  text-align: right;
  float: right;
}
.no-touch .scrollable.hover {
overflow-y:hidden;
}

.no-touch .scrollable.hover:hover {
overflow-y:auto;
overflow:visible;
}
.navbar.navbar-light .navbar-nav .nav-item .nav-link:hover {
  color: #18c2b8;
}
a:hover,a:focus {
text-decoration:none;
}

nav {
-webkit-user-select:none;
-moz-user-select:none;
-ms-user-select:none;
-o-user-select:none;
user-select:none;
}

nav ul,nav li {
outline:0;
margin:0;
padding:0;
}
.main-menu li:hover>a,nav.main-menu li.active>a,
.dropdown-menu>li>a:hover,
.dropdown-menu>li>a:focus,
.dropdown-menu>.active>a,
.dropdown-menu>.active>a:hover,
.dropdown-menu>.active>a:focus,
.no-touch .dashboard-page nav.dashboard-menu ul li:hover a,
.dashboard-page nav.dashboard-menu ul li.active a {
color:#2bca73;
background-color:transparent;
}
.dropdown-toggle::after {
  display: none;
}
.left-menu {
  background: #f1f1f1;
  width: 210px;
  position: fixed;
  left: 0;
  height: 100%;
  z-index: 99;
}
.left-menu ul {
    position: relative;
    top: 5rem;
    padding-left: 5rem;
    list-style: none;
}
.left-menu ul li {
  margin-bottom: 1rem;
}
.left-menu ul a {
  color: rgb(89, 89, 92);
  font-weight: bold;
}
.left-menu ul a:hover {
  color: #18c2b8;
}
.dropdown-menu {
    position: absolute;
    top: 47px;
    left: 1.6rem;
    z-index: 1000;
    display: none;
    float: left;
    min-width: 10.3rem;
    padding: .5rem 0;
    margin: .125rem 0 0;
    font-size: 1rem;
    color: #212529;
    text-align: left;
    list-style: none;
    background-color: rgb(43,202,115);
    background-clip: padding-box;
    border: 0;
    border-radius: 0;
}

.navbar .dropdown-menu  a{
  color: #fff;
}
.dropdown .dropdown-menu .dropdown-item:hover, .dropdown .dropdown-menu .dropdown-item:active, .dropdown .dropdown-menu .dropdown-item:focus {
    color: #fff;
    background-color: #3af1a7;
}
.area {
float: left;
background: #e2e2e2;
width: 100%;
height: 100%;
}
.navbar {
    background-color: #f1f1f1;
    position: fixed;
    width: 100%;
    z-index: 999;
    height: 47px;
}
.navbar .navbar-brand {
  margin-left: 3rem;
  color: #59595c;
  font-weight: bold;
  font-size: 1rem;
  line-height: 2;
  display: inline-flex;
}
.navbar .navbar-brand:hover {
  color: #2bca73;
}
.navbar-dark .navbar-brand:focus, .navbar-dark .navbar-brand:hover{
    color: #2bca73;
}
.user{
    position: relative;
    display: flex;
    z-index: 10010;
    /* top: -7px;
    height: 47px; */
    max-width: 194px;
    padding-top: 0.1rem;
    padding-bottom: 0.6rem;
}
.user span  {
    font-size: 16px;
}
.dropdown.show:hover, .user:focus, .user:active, .user:hover {
    width: 179px;
    background: rgb(43, 202, 115);

}
.int.dashtt .dropdown.show:hover,.int.dashtt .user:focus,
.int.dashtt .user:active, .int.dashtt .user:hover {
  background: transparent;

}
.int.dashtt .dropdown.show:hover a, .int.dashtt .user:hover a{
    color: #59595c!important;
}
.navbar .dropdown-menu a {
    padding: 10px 0 10px 20px;
}
.dropdown.show:hover a, .user:hover a, .user:focus a{
  color: #fff!important;
}
.logod {
    display: flex;
    margin: 0 auto;
    justify-content: center;
    position: fixed;
    width: 59px;
    left: 0;
    top: 0;
    z-index: 1001;
    background: #2bca73;
    overflow: hidden;
    height: 64px;
}
.dash .container-fluid {
  background-color: #fff;
}
.dash .fa-user-circle {
    color: #59595c;
    width: 30px;
    height: 25px;
    font-size: 2rem;
    display: flex;
    float: right;
    left: 1.2rem;
}
.dash .other-item span {
    text-indent: 5rem;
    position: absolute;
    height: 0.3rem;
    display: flex;
    flex-direction: column-reverse;
    line-height: 2.7
}
.navbar.navbar-dark .navbar-toggler {
    color: #000;
    position: absolute;
    right: 0;
    z-index: 99;
}
.dash .navbar.navbar-dark .navbar-nav .nav-item.text-green .nav-link {
    color: #2bca73;
    line-height: 1;
}
.dash ul.showroom {
  list-style: none;
}
.dash ul.showroom a {
  color: #59595c
}
.dash .navbar.navbar-dark .navbar-toggler-icon {
  background-image: none;

}
.dash .fa-bars{
    color: #000;
    height: 28px;
}
.plans .card {
    background: #f1f1f1;
    box-shadow: none;
    height: 511px;
}

.plans .animated {
    margin: 5rem auto;
    /* max-width: 22%; */
}
.plans .last .card {
    height: 300px;
    margin-top: 2rem;
}
.plans .last .btn.btn-green {
    box-shadow: none;
    color: #fff;
    background-color: #2bca73;
}
.plans .last .btn.btn-green:hover {
  background-color: #3af1a7;
}
.plans h3 {
    padding: 1.3rem 1.5rem;
    color: rgb(34,31,31);
    font-size: 1rem;
    text-align: center;
    background: #d1d2d3;
    height: 75px;
    vertical-align: middle;
    display: flex;
    justify-content: center;
    align-items: center;
    line-height: 23px;
}
.plans .fa-check-circle {
    color: #2bca73;
    font-size: 7rem;
    text-align: center;
    display: flex;
    margin: auto;
    justify-content: center;
    align-items: center;
}
.plans .card .card-body p {
    text-align: center;
    padding: 0 0.5rem;
    margin-top: 1rem;
    line-height: 34px;
    display: flex;
    vertical-align: middle;
}
.plans .card .card-body {
    position: relative;
    display: flex;
    margin: 1rem auto;
    vertical-align: middle;
    justify-content: center;
}

.plans .btn {
    display: flex;
    left: inherit;
    margin: auto;
    align-items: center;
    justify-content: center;
}
.card .card-text {
    font-size: 1.2rem;
    color: rgb(34,31,31);
    font-weight: 400;
    text-align: center;
    line-height: 30px;
    display: flex;
}
.testing {
    display: flex;
    justify-content: center;
    margin: auto;
    align-items: center;
    font-size: 0.9rem;
    font-weight: 400;
    top: -8px;
    font-weight: bold;
}
/* circular progress */
@-webkit-keyframes load {
  0% {
    stroke-dashoffset: 0;
  }
}
@keyframes load {
  0% {
    stroke-dashoffset: 0;
  }
}
.dash .progress {
  position: relative;
  display: inline-block;
  padding: 0;
  text-align: center;
  box-shadow: inherit;
  width: 100%;
  height: auto;
  overflow: hidden;
  margin-bottom: 1rem;
  background-color: transparent;
  border-radius: inherit;
}
.dash .progress > li {
    display: flex;
    position: relative;
    text-align: center;
    color: #93A2AC;
    font-weight: bold;
    margin: 0;
    align-items: center;
    justify-content: center;
}
.dash .progress > li:before {
  content: attr(data-name);
  position: absolute;
  width: 100%;
  bottom: -2rem;
  font-weight: 400;
}
.dash .progress > li:after {
  content: attr(data-percent);
  position: absolute;
  width: 100%;
  top: 1.3rem;
  left: 0;
  font-size: 3rem;
  text-align: center;
}
.dash .progress svg {
  width: 8rem;
  height: 7rem;
}
.container-dash {
    padding-right: 0;
    margin-right: 0;
    padding-left: 250px;
    margin-left: -30px;
    max-width: 100%;
    position: relative;
    top: 4rem;
}
.container-dash.team {
    padding-right: 0;
    margin-right: 0;
    padding-left: 180px;
    margin-left: 0;
    max-width: 100%;
    position: relative;
    top: 4rem;
}
.dash .progress svg:nth-child(2) {
  position: absolute;
  left: 0;
  top: 0;
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
}
.dash .progress svg:nth-child(2) path {
  fill: none;
  stroke-width: 38;
  stroke-dasharray: 629;
  stroke: #fff;
  opacity: .9;
  -webkit-animation: load 10s;
          animation: load 10s;
}
/* profile-dash */
.profile-dash .menu-dash {
    /* margin-bottom: 2rem; */
    padding-right: 0;
    border-bottom: 11px solid #f1f1f1;
}
.profile-dash .menu-dash.edit-page{
  border-bottom: none;
}
.profile-dash  .nav-user {
    z-index: 9;
    height: 35px;
    position: relative;
    background: transparent;
}
.profile-dash.dash  .nav-user .collapse ul{
  width: 100%;
}

.profile-dash.dash  .nav-user .collapse,.profile-dash.dash  .nav-user  .collapsing {
    padding-top: 0;
}
.profile-dash .nav-user .active {
    background-color: transparent;
    border-bottom: 1px solid #18c2b8;
}
.profile-dash .nav-user.navbar.navbar-light .navbar-nav .nav-item{
  color: #000;
  text-transform: uppercase;
  font-size: 0.8rem;
  font-weight: bold;
  width: 100%;
  text-align: center;
}
.profile-dash .nav-user.navbar.navbar-light .navbar-nav .nav-item.active > .nav-link {
    background-color: transparent;
    color: #18c2b8;
}
.profile-dash  .container-dash.team {
  top: 3rem;
}
.bcrumbleft {
  float: left;
}
.profile-dash h3 {
    float: left;
    text-transform: uppercase;
    font-size: 1.3rem;
    color: #333;
    line-height: 2;
    margin-top: 2rem;
}
.profile-dash  .h3-first {
  margin-top: 0;
}
.profile-dash .jumbotron {
    background-color: #f1f1f1;
    padding: 1rem 0 0.2rem;
    box-shadow: none;
    border-radius: 13px;
    margin: 3rem 0 0.1rem;
}
.usr-mkt.casefile .fa {
    color: #000;
    height: auto;
    width: auto;
    top: 5px;
    padding-right: 3px;
}
.dash  .usr-mkt.casefile .jumbo-scroll {
  height: 300px;
  overflow: hidden;
  margin-top: 0.5rem;
}
.dash .usr-mkt.casefile p {
    left: 0;
    margin-bottom: 0;
    color: #999;
    font-size: 0.8rem;
    line-height: 2;
}
.usr-mkt .jumbotron.jumbo-scroll ul {
    height: 100%;
    overflow-y: scroll;
    padding-right: 1rem;
    margin-right: 1rem;
    padding-left: 0;
}
.product-carousel{
  display: flex;
}
.product-carousel .carousel-indicators {
    flex-direction: column;
    position: relative;
    margin: 1rem auto 0;
}
.product-carousel.carousel .carousel-indicators li {
    max-width: 100%;
    height: auto;
    border-radius: 0;
    cursor: pointer;
    background: transparent;
    width: 97px;
    margin: 0 auto 1rem;
    border: 1px solid #999;
    text-indent: inherit;
    padding: 0.1rem;
}
.product-carousel.carousel .carousel-indicators li img {
  max-width: 93px;
}
.product-carousel p {
    font-size: 0.7rem;
    text-align: center;
    margin-top: 1rem;
    padding: 1rem;
}
.dropdown.addproduct {
    position: relative;
    float: right;
}
.dropdown.addproduct .btn-link {
    text-transform: capitalize;
    color: #666;
    font-size: 1rem;
    margin: 0;
    padding: 0.5rem;
    position: relative;
    z-index: 9;
}
.dropdown.addproduct .btn .fa {
    font-size: 1.5rem;
    position: relative;
    vertical-align: middle;
    margin-top: 0;
    color: #666;
    height: auto;
    width: auto;
    display: inline-flex;
    margin-right: 0.4rem;
}
.dropdown.addproduct .dropdown-menu .dropdown-item {
  border-bottom: 2px solid #999;
  padding-left: 0;
}
.dropdown.addproduct .dropdown-menu .dropdown-item:hover {
    color: #000!important;
    background-color: #fff;
    border-bottom: 2px solid #18c2b8;
}
.int.dashtt .dropdown.addproduct.show:hover{
    background: #fff;
    width: auto;

    border-right: 1px solid #e3e3e3;
    border-left: 1px solid #e3e3e3;
    border-top: 1px solid #e3e3e3;
}
.navbar .dropdown.addproduct .dropdown-menu {
    position: absolute !important;
    margin-top: -1px;
    top: 100%;
    background: #fff;
    left: inherit;
    right: -1px;
    border: 1px solid #e3e3e3;
    padding: 0.5rem 0.5rem 1.5rem;
    text-align: left;
    z-index: 1;
}
.step-item {
  margin-top: 3rem;
}
.pitem{
    font-size: 0.8rem;
    text-transform: uppercase;
    font-family: 'Akkurat-bold';
}
span.bigger {
    font-size: 1.6rem;
    font-family: 'Akkurat';
    font-weight: 100;
}
.items-actions p{
  margin-bottom: 0.2rem;
}
.items-actions ul{
  list-style: none;
  display: flex;
  padding-left: 0;

}
.items-actions ul:first-child {
  border-bottom: 12px solid #0645f9;
  margin-bottom: -0.5rem;
  padding-bottom: 1rem;
}
.items-actions ul:nth-child(2){
  border-bottom: 1px solid #f1f1f1;
}
.items-actions .number {
  font-size: 2rem;
}
.items-actions ul:first-child img{
    width: 2rem;
}
.prodctname .items-actions ul:first-child{
  padding: 0 0.8rem;
  border-bottom: 12px solid #18c2b8;
}
.prodctname .items-actions .mkt-list{
    flex-direction: column;
    margin-top: 2rem;
    padding: 1rem;
}
.holder {
    background: #f1f1f1;
    display: flex;
    padding-right: 0;
    margin-right: 0;
    align-items: center;
    justify-content: center;
}
.holder h3 {
    text-transform: capitalize;
    font-weight: normal;
    color: #999;
    margin-top: 0;
    float: none;
    line-height: normal;
    font-family: 'Akkurat';
    font-size: 1.7rem;
}
.prodctname.newproduct .p-t2 p{
  color: #000;
}
.prodctname.newproduct .usr-mkt.target {
    align-items: flex-start;
}
.prodctname.newproduct .usr-mkt.target .jumbotron.jumbo-select {
    width: 100%;
    height: 60px;
}
.profile-dash .prodctname.newproduct  input.jumbotron {
    background-color: #f1f1f1;
    padding: 1rem 0 1.2rem 0.5rem;
    box-shadow: none;
    border-radius: 13px;
    margin: 0.2rem 0 0;
}
.bigfont {
  font-size: 2rem;
  margin-bottom: 0;
}
.bigB{
  color: #000!important;
}
.bigB small {
  font-size: 11px;
  color: #999;
}
.jumbotron.jumbo100{
  width: 100%!important;
}
.prodctname p {
  clear: both;
}
.prodctname br {
  display: block;
}
.prodctname .p-t2 p {
  color: #999;
}
.prodctname table thead {
    background: #ccc;
    color: #fff;
}
.prodctname table.table-bordered td, .prodctname table.table-bordered th {
    border: 1px solid #d3d3d3;
}
.prodctname table row {
    background: #f1f1f1;
}
.stock {


    justify-content: space-between;
    align-content: center;
    padding: 0 0 0.5rem;
    align-items: center;
}
.items-actions .bullet-color {
  border-bottom: none;
}
.bullet-color li{
  width: 20px;
  height: 20px;
  border-radius: 10px;
  margin-right: 0.8rem;
  text-indent: -999em;
}
.items-actions li.bullet1{
  background: #000;
}
.items-actions li.bullet2{
  background: #e7dac9;
}
.add {
    color: #000;
    text-transform: uppercase;
    font-size: 0.8rem;
    font-family: 'Akkurat-bold';
}
.heightauto {
  height: auto!important;
}
.casefile .files {
  margin-bottom: 2rem;
}
.jumbo-scroll li{
  border-bottom: 1px solid #999;
  padding: 1rem;
}
.jumbo-scroll li:hover {
  background: #999;
}
.jumbo-scroll li:hover a{
  color: #fff;
}
.jumbo-scroll li a{
  color: #000;
}
.profile-dash .jumbotron:hover {
  border: 1px solid #18C2B8
}
.profile-dash .small-jumbo{
  padding: 2.6rem 0
}
.profile-dash  .icon-action {
    float: right;
}
.nopad, .nomar {
  padding-left: 0;
  padding-right: 0;
  margin-left: 0;
  margin-right: 0;
}
.charts ul {
    display: flex;
    list-style: none;
    text-align: center;
}
.charts li {
    font-size: 0.8rem;
    display: flex;
    margin: 0.5rem 0.7rem 0 auto;
    flex-direction: column;
    border-top: 1px solid;
}
.charts li p {
  font-size: 1rem;
  font-weight: bold;
  margin-top: 0.5rem;
}
.dash .tables-search .cont_select_center {
    margin-top: 0;
    margin-left: 0;
}
.tables-search .fa {
    position: relative;
    width: auto;
    height: auto;
    text-align: right;
    vertical-align: text-top;
    font-size: 15px;
    color: #000;
    display: inline-block;
}
.tables-search  table {
  margin-top: 1rem;
}
.tables-search  table.table thead th {
    border-top: none;
    background: #fff;
}
.chart {
    position: relative;
    width: 150px;
    height: 150px;
    display: block;
    margin: auto;
}
.doughnutTip {
  position: absolute;
  min-width: 30px;
  max-width: 300px;
  padding: 5px 15px;
  border-radius: 1px;
  background: rgba(0,0,0,.8);
  color: #ddd;
  font-size: 17px;
  text-shadow: 0 1px 0 #000;
  text-transform: uppercase;
  text-align: center;
  line-height: 1.3;
  letter-spacing: .06em;
  box-shadow: 0 1px 3px rgba(0,0,0,0.5);
  pointer-events: none;}
.doughnutTip:after {
      position: absolute;
      left: 50%;
      bottom: -6px;
      content: "";
      height: 0;
      margin: 0 0 0 -6px;
      border-right: 5px solid transparent;
      border-left: 5px solid transparent;
      border-top: 6px solid rgba(0,0,0,.7);
      line-height: 0;
  }

.doughnutSummary {
  position: absolute;
  top: 50%;
  left: 50%;
  color: #d5d5d5;
  text-align: center;
  text-shadow: 0 -1px 0 #111;
  cursor: default;
}
.doughnutSummaryTitle {
  position: absolute;
  top: 50%;
  width: 100%;
  margin-top: -27%;
  font-size: 22px;
  letter-spacing: .06em;
}
.doughnutSummaryNumber {
    position: absolute;
    top: 50%;
    width: 100%;
    margin-top: -25%;
    font-size: 25px;
    color: #000;
}
.bg-select-gray {
  background: #f1f1f1!important;
}
.chart path:hover { opacity: 0.65; }
/* borders-colors */
.borders p{
  border-bottom: 2px solid #000;
  margin-bottom: 0;
  font-size: 1.6rem;
  font-weight: bold;
  text-align: center;
}
.borders .text-center{
  margin: auto;
}
.borders .bgreen, .bgreen{
  border-color: #2bca73!important;
}
.borders .bgreenok, .bgreenok{
  border-color: #4a9d1e!important;
}
.borders .bgreendone, .bgreendone{
  border-color: #41beb4!important;
}
.borders .bblue, .bblue{
  border-color: #0645f9!important;
}
.borders .byellow, .byellow{
  border-color: #fffc1a!important;
}
.borders .borange, .borange{
  border-color: #ffb64d!important;
}
.borders .bred, .bred{
  border-color: #ff5050!important;
}
.borders .bgray, .bgray {
  border-color: #d1d2d3!important;
}
.profile-dash .myprofile {
  padding-bottom: 3rem;
}
.myprofile {
    padding: 0 0 0 60px;
}
.myprofile .pics{
    list-style: none;
    position: relative;
    padding: 0;
}
.myprofile .pics.edit-pic a {
    display: block;
    margin: auto;
    background-image: url(../images/profile_pic.svg);
    background-repeat: no-repeat;
    width: 270px;
    height: 270px;
}
.myprofile .pics.edit-pic a p{
    position: absolute;
    bottom: 50px;
    text-align: center;
    left: 50%;
    margin-left: -40px;
    text-indent: -999em;
}
.myprofile .pics.edit-pic a:hover {
    background-image: url(../images/profile_pic_hov.svg);
    background-size: 264px auto;
    background-position: 8px 5px;

}
.myprofile .pics.edit-pic a:hover p{
  text-indent: 0;
}
.myprofile .pics span{
    position: absolute;
    top: 0;
    width: 80px;
    max-width: 40%;
}
.myprofiles  ul {
    list-style: none;
    padding: 0;
}
.myprofiles  ul li {
  margin-bottom: 1rem;
}
.myprofiles strong{
    font-weight: bold;
    color: #000;
    font-size: 1.1rem;
}
.myprofile .phones {
  text-align: left;
}
.myprofile .phones a{
  color: #000
}
.myprofile .phones .fa {
    height: auto;
    color: #000;
}
.dash .myprofile .update .cont_select_center{
    margin-left: 0;
    width: 100%;

}
.container-dash.team.marketing-col{
  position: absolute;
  height: 100%;

}
.profile-dash .marketing-col .myprofile{
  height: 100%;
  padding-bottom: 0;
}
.dash .myprofile .update {
  width: 100%;
}
.logic-form {
  max-width: 800px;
  margin: auto;
}
.logic-form label {
  text-transform: uppercase;
}
.second-grp {
    margin-left: 0;
    padding-right: 0;
    padding-left: 0;
    margin-right: 0;
}
.p-right {
  padding-right: 0!important
}
.m_bottom3{
  margin-bottom: 3rem!important;
}
.no-top{
  top: 0!important;
}
.dash .myprofile .update label{
  background: transparent;
  text-transform: uppercase;
  font-size: 1rem;
  font-weight: bold;
}
.mkt-list {
  list-style: none;
}
.mkt-list li {
  margin-bottom: 4rem;
}
.mkt-list li a {
  color: #000;
}
.mkt-list li a:hover {
  color: #999;
}
.mkt-list li a.active {
    color: #18c2b8;
    border-bottom: 2px solid #18c2b8;
    padding-bottom: 1rem;
    background: transparent;
    width: 220px;
    display: inline-flex;
}

.usr-mkt{
    display: flex;
    margin: 0 auto 2rem;
    justify-content: center;
    flex-direction: column;
}
.usr-pricing{
    justify-content: flex-start!important;
}
.usr-mkt.target {
  align-items: center;
}
.usr-mkt.target .choose{
  width: 800px;
}
.usr-mkt.target .choose p{
  left: 0;
  margin-bottom: 0.3rem;
}
.usr-mkt.target .choose a{
float: right;
text-decoration: underline;
text-transform: capitalize;
color: #18c2b8;
}
.usr-mkt .jumbotron {
    width: 400px;
}
.usr-mkt.target .jumbotron {
    width: 800px;
    height: 240px;
    overflow: hidden;
    margin-top: 0
}
.usr-mkt.target .jumbotron.jumbo-select, .usr-mkt.target .jumbotron.jumbodd{
  height: auto;
  overflow: inherit;
}
.jumbodd .card .btn {
    position: relative;
    bottom: 0;
    left: 0;
    padding: 0;
    margin: 0;
}
.jumbodd .card {
  box-shadow: none;
}
.jumbodd .card-header {
  padding: 0;
  margin: 0;
}
.usr-mkt.target .jumbotron.jumbodd p {
    font-size: 1rem;
    color: #333;
    top: 20px;
    left: 0;
    display: flex;
}
.jumbotron.jumbodd .card-body {
    padding: 0;
}
.childaccordion button{
  background: #999;
}
.nchildaccordion {
    background: #666;
}
.jumbotron.jumbodd .childaccordion .fa-caret-down {
  color: #18C2B8;
  left: 3rem;
}
.dash .jumbotron.jumbodd .collapse, .dash .jumbotron.jumbodd  .collapsing {
    width: 100%;
     padding-top: 0;
    padding-left: 0;
}
.usr-mkt.target .jumbotron.jumbodd .checkboxFour label{
    display: flex;
    align-items: center;
    justify-items: center;
    align-content: center;
    justify-content: center;
    margin: auto;
    top: 20px;
    line-height: normal;
    text-indent: inherit;
}
.jumbodd .fa {
    color: #000;
    font-size: 1.5rem;
}
.jumbodd .fa.fa-image {
  font-size: 3rem;
}
.jumbodd .checkboxFour label {
  width: 20px;
  height: 20px;
}
.usr-mkt.target .jumbotron.jumbodd .childaccordion p {
  color: #fff;
}
.usr-mkt.target .jumbotron.jumbo-select .select_mate{
  border: none;
}
.usr-mkt.target .jumbotron.jumbo-select p{
  margin-bottom: 0;
}
.dash .usr-mkt.target .jumbotron.jumbo-select .icon_select_mate {
    top: -14px;
    height: 2rem;
    border-left: 1px solid #000;
}
.usr-mkt.target .jumbotron p{
  font-size: 12px;
  color: #999;
  left: 0.9rem;
}
.usr-mkt.target .jumbotron ul {
    overflow-y: scroll;
    width: 99%;
    height: 100%;
}
.usr-mkt .jumbotron ul {
  list-style: none;
  padding-left: 0.5rem;
}
.usr-mkt .jumbotron ul a:hover{
  color: #999;
}

.usr-mkt p  {
    position: relative;
    left: 2.2rem;
    text-transform: uppercase;
    font-weight: bold;
}
.usr-mkt p span {
    background: #18c2b8;
    border-radius: 10px;
    width: 10px;
    height: 10px;
    display: flex;
    position: absolute;
    top: 0;
    right: -15px;
}
.m-t2 {
  margin-top: 2rem;
}
.p-t2 {
  padding-top: 2rem;
}
.border-right {
  border-right: 11px solid #f1f1f1
}
.data {
  margin-bottom: 1.5rem;
}
.data p {
  margin-bottom: 0;
}
.data p:first-child{
  color: #999999;
  text-transform: uppercase;
}
.data a {
  color: #3af1a7;
  text-decoration: underline;
}
/* filters */
.filters {
    padding: 0;
}
.filter-products .btn-link.btn-filter {
    padding: 0.2rem 3rem 0;
    float: right;
}
.modal.modal-delete button {
    font-size: 0.8rem;
    padding: 0.5rem;
    margin: 0;
    border-radius: 20px;
    border: 0;
    -webkit-transition: .2s ease-out;
    transition: .2s ease-out;
    text-transform: uppercase;
    white-space: normal !important;
    word-wrap: break-word;
    cursor: pointer;
    max-width: 8rem;
    justify-content: space-between;
    box-shadow: none;
}
.modal.modal-delete button.btn-gray {
  background: #f1f1f1;
}
.modal.modal-delete p {
  text-align: center;
}
.modal-delete .modal-footer {
    padding: 15px;
    border-top: none;
    justify-content: space-between;
}
/* responsive */
@media screen and (max-width: 1320px) {
  .broker , .phones {
    text-align: center;
  }
}

@media screen and (max-width: 760px) {
  .dash .cont_select_center.searchs {
    position: fixed;
    border: 0;
    top: -2rem;
    right: 0;
    z-index: 999;
}
}
@media screen and (max-width: 767px) {
  body.dash.int {
      height: 100%;
  }
  .navbar .navbar-brand {
    margin-left: 0;
}
.items-pag {
  padding: 0;
}
.product-carousel {
    display: block;
}
.actions-profile-product .actions {
    position: relative;
    right: 0;
    top: 4rem;
    float: right;
    width: 10%;
}

.actions-profile-product .card .actions .dropdown-menu {
    top: 0rem!important;
    left: -28px!important;
}
.favorite {
    right: 20px;
}
.dash .usr-mkt.casefile .jumbo-scroll {
    width: 100%;
}
.usr-mkt.target .choose {
    width: 100%;
}
.jumbodd .card .btn {
    width: 100%;
    max-width: 100%;
}
.usr-mkt.target .jumbotron {
  width: 100%;
}
.profile-dash .menu-dash {
  border-bottom: none;
}
.usr-mkt.target .jumbotron.jumbo-select .select_mate {
  width: 100%;
}
.border-right {
    border-right: none;
}
.title-br {
    position: relative;
    z-index: 99999;
    font-size: 0.7rem;
    top: 8px;
}
  .nav-item.text-green {
      float: left;
      text-align: right;
  }
  .dash .plans {
      margin: 0;
      padding: 0;
      width: 100%;
  }
  .dash .plans div {
    margin: 0 0 2rem;
    padding: 0;
}
  .plans .animated {
    margin: 1rem auto;
    max-width: 100%
}

.profile-dash .small-jumbo {
    min-height: 160px;
}
.profile-dash .container-dash .myprofile {
    padding-bottom: 9rem;
}
.left-menu ul a {
  font-size: 0.8rem;
}
.container-dash.team {
    padding-right: 15px;
    margin-right: auto;
    margin-left: auto;
    max-width: 100%;
    position: relative;
    top: 4rem;
    padding-left: 15px;
}
.dash .cont_select_center.searchs {
   position: fixed;
   border: 0;
   top: -2rem;
   right: 7rem;
   z-index: 999;
}
.dash .searchs input{
  border: 0
}
.dash .container-dash .filter-gray {
    background: #f1f1f1;
    padding: 1rem;
    border-radius: 20px;
    margin-bottom: 1rem;
}

.filters-m {
    width: 100%;
    position: absolute;
    background: #f1f1f1;
    z-index: 9999;
}
.filters-m img {
    width: 3rem;
    position: relative;
    float: right;
}

.dash .container-fluid.head-profile, .phones, .icon-action {
  display: none;
}
.dash .container-dash .actions-profile {
  padding-bottom: 7rem
}
.actions-profile .pics {
  display: block;
}
.modal-contact {
    position: absolute;
    right: 10px;
    top: 0;
}
.modal-contacts a {
    color: #000;
    text-align: center;
    font-weight: bold;
}
.modal-contacts a:hover, .modal-contacts fa:hover {
  color: #000;
}
.modal-contact .fa, .modal-contacts .modal-body .phones{
  display: block;
  color: #000;
}
.modal-contacts .modal-body .icon-action {
  display: flex;
}
.modal-contacts .modal-body {
    padding: 0;
}
.modal-contacts .modal-content {
    border-radius: 20px;
    border: 0;
    padding-bottom: 10rem;
    background: #f1f1f1;
}
.modal-contacts .fa{
    display: table-cell;
    width: 40px;
    height: 35px;
    line-height: 9px;
    color: #000;
    font-size: 2rem;
    padding-right: 1rem;
}
.modal-contacts .modal-body .phones {
    margin-top: 2rem;
    border-top: 1px solid #999;
}
.modal-contacts .modal-body .phones p{
  padding: 1rem 2rem;
  border-bottom: 1px solid #999;
  margin-bottom: 0;
}
.modal-contacts .modal-body .phones p:hover {
  background: #3af1a7;
}
.modal-contacts .btn-gray{
    background: #f1f1f1;
    border-radius: 20px;
    font-size: 1rem;
    font-weight: bold;
}
.modal-contacts .btn-gray:hover, .modal-contacts .btn-gray:active {
  background: #3af1a7;
}
.modal-contacts  .modal-footer {
  margin-top: 0.7rem;
}
.modal.modal-delete button {
    font-size: 0.8rem;
    padding: 0.5rem;
    margin: 0;
    border-radius: 20px;
    border: 0;
    -webkit-transition: .2s ease-out;
    transition: .2s ease-out;
    text-transform: uppercase;
    white-space: normal !important;
    word-wrap: break-word;
    cursor: pointer;
    max-width: 8rem;
    justify-content: space-between;
}
.modal-delete .modal-footer {
    padding: 15px;
    border-top: none;
    justify-content: space-between;
}
/* .container-dash.team .col-12 {
  padding-right: 15px;
  padding-left: 15px;
} */
.dash .select_mate {
    float: none;
    min-width: 50%;
    width: 70%;
    font-size: 1rem;
    margin: 0 auto 1rem;
}
.main-menu {
    top: inherit;
    bottom: 0;
    height: 50px;
    left: 0;
    width: 100%;
    overflow: inherit;
    display: inline-flex;
    transition: inherit;
}
.main-menu>ul {
    margin: 0 auto;
    height: 100%;
    width: 100%;
    background: #2bca73;
    display: flex;
    align-items: center;
    justify-content: center;
}
.main-menu li {
    position: relative;
    display: flex;
    width: 20%;
    float: left;
    margin: auto;
    vertical-align: middle;
    justify-content: center;
    align-items: center;
}
.main-menu.timetraffic>ul {

    background: #221F1F;
}
.main-menu.timetraffic .dashm {
  width: 30px;
}
.breadcrumb-item{
  display: none;
}
.breadcrumb-item.active {
  display: block;
}
.left-menu {
    background: #f1f1f1;
    width: 100%;
    position: fixed;
    left: 0;
    height: 7rem;
    z-index: 99;
    bottom: 0;
}
.left-menu ul {
    position: relative;
    top: 1.2rem;
    width: 100%;
    padding-left: 1rem;
}
.left-menu ul li {
    margin-bottom: 1rem;
    display: flex;
    float: left;
    margin: auto;
    margin-right: 1rem;
}
.main-menu .fa {
    height: 48px;
}
.container-dash {
    width: 100%;
    margin: 0;
    padding: 0;
}
.container-dash .col-12{
    padding: 0;
    margin: 0;
}
.dashtt .dropdown-menu {
    background-color: #f1f1f1;
}

.dashtt .dropdown.show:hover a,.dashtt .user:hover a,.dashtt .user:focus a {
    color: #000!important;
}
.dashtt .navbar .dropdown-menu a {
    color: #000;
    font-weight: bold;
    position: relative;
}
.dashtt .navbar .dropdown-menu a::after {
    content: '>';
    position: absolute;
    right: 3rem;
    font-weight: bold;
    color: #000;
}
.dropdown.show:hover, .user:focus, .user:active, .user:hover {
    width: 100%;
    background: transparent;
}
.user {
  max-width: 100%;
  padding: 0;
}
.show-room {
  padding: 0
}

.btn.btn-trans.btn-b.btn-xs {
    display: block;
    width: 100%;
    bottom: 0;
    padding: 0.3rem 0rem;
    top: 0;
}
.navbar .dropdown-menu {
    left: 0;
    width: 100%;
    max-width: 100%;
}
.logod, .navbar-brand.dropdown-toggle span,
 .navbar-brand.dropdown-toggle::after,
 .show-room span, .card-text br{
  display: none;
}
.plans .card {
  height: auto;
}
.plans .card .card-body {
  display: block;
}
.plans .card .card-body p {
    margin-top: 0;
    display: block;
    width: 100%;
}
.btn.btn-trans.btn-b {
    display: block;
    width: 100%;
    bottom: 0;
}
.dash .plans .last.animated {
  margin-bottom: 9rem;
}
.plans .last .card {
    height: auto;
    margin-top: 0;
}
.dash .plans .try {
    padding: 0 40px;
    margin-bottom: 1rem;
    position: absolute;
    top: -1138px;
    height: auto;
}
.plans .try .col-md-6 {
  margin: 0 auto;
}
.dash .progress svg {
    width: 7rem;
    height: 7rem;
}
.dash .plans .slideInUp {
  margin-top: 15rem;
}
.navbar .dropdown-menu {
    left: -30px;
    width: 100%;
    max-width: 100%;
    min-width: 28rem;
}
}
/* iPhone 5 ----------- */
@media only screen and (min-device-width: 320px) and (max-device-height: 568px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 2){
{

}
}

@media only screen and (min-device-width: 320px) and (max-device-height: 568px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 2){
  .dash .plans .try {
      top: -1182px;
  }
}
/* iPhone 6 ----------- */
@media only screen and (min-device-width: 375px) and (max-device-height: 667px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 2){
{}
}

@media only screen and (min-device-width: 375px) and (max-device-height: 667px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 2){
  .dash .plans .try {
      top: -1182px;
  }
  /* iPhone 6+ ----------- */
  @media only screen and (min-device-width: 414px) and (max-device-height: 736px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 2){
  {}
  }

  @media only screen and (min-device-width: 414px) and (max-device-height: 736px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 2){
    .dash .container-dash .plans .try {
      top: -1101px;
  }
  }

/* FF */

@supports (-moz-appearance:none) and (display:contents)
{
    .dash .other-item span {
    text-indent: 4.7rem;
    position: absolute;
    height: 0.3rem;
    display: flex;
    flex-direction: column-reverse;
    line-height: 0.7;
  }
  .dash .fa-user-circle {

    height: 0;
    top: -11px;
}
  .navbar .navbar-brand {
    line-height: inherit;
  }
  .plans .last .card {
    height: 285px;
}
.plans .card .card-body.last {
  margin: 1rem auot;
}
}
